/* styles.css */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  
}
.container {
  width: 98%;
  margin: 50px auto;
  text-align: center;
  background-image: url("./laptop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.avatar {
  width: 200px;
  border-radius: 50%;
}

.skills, .connect {
  margin-top: 20px;
}

.repositories {
  margin-top: 10px;
}
